# ======================================
# Python
# ======================================
**/__pycache__/
*.py[cod]
*$py.class

# ======================================
# Build / Distribution
# ======================================
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# ======================================
# Virtual environments
# ======================================
.venv/
venv/
env/
SimuStruct/
Scripts/

# ======================================
# Logs, tests and caches
# ======================================
*.log
*.out
*.bak
*.tmp
*.swp
*.png
.cache/
/SimuFrame/tests/
SimuMembrane/
SimuShell/
main_shell.py

# ======================================
# IDE / Editor files
# ======================================
.vscode/
*.code-workspace

# ======================================
# Data / Results
# ======================================
output/
results/
plots/
temp/
__temp__/

# ======================================
# OS files
# ======================================
.DS_Store
Thumbs.db