# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
.venv/

# Folders
SimuMembrane/
SimuShell/
SimuFrame/tests/

# Future projects
main_shell.py

# Tools
.python-version
uv.lock
*.lock

# System
.DS_Store
Thumbs.db